<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Trabalho_Igor_P5.Properties.Settings.Registro_P3ConnectionString"
            connectionString="Data Source=DESKTOP-5ON58F6\SQLEXPRESS;Initial Catalog=Registro_P3;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>